footer {
  background: $primary;
  margin-top: 60px;
  padding-top: 15px;
  & .top-footer {
    max-width: 1440px;
    margin: -15px auto 0;
    position: relative;
    &:before {
      content: '';
      position: absolute;
      width: 100px;
      height: 4px;
      top: 0;
      left: 25px;
      background: $secondary;
    }
  }
  & p {
    color: $darkgrey;
  }
  & a {
    color: $primary_contrasttext;
    & img {
      width: 20px;
    }
  }
  .nav {
    &_links {
      display: none;
    }
  }
  .nav-social {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 1440px;
    max-width: 100%;
    margin: 0 auto;
    column-gap: 10px;
    &_links {
      display: flex;
      flex-direction: row;
      align-items: center;
      column-gap: 35px;
      padding-left: 0;
    }
  }
}


@media screen and (min-width:768px) {
  footer {
    margin-top: 110px;
    padding-top: 40px;
    padding-bottom: 20px;
    & .top-footer {
      margin: -40px auto 0;
      &:before {
        left: 60px;
        width: 130px;
      }
    }
    .nav {
      &_links {
        display: flex;
      }
    }
    .nav-social {
      justify-content: flex-end;
    }
  }
}

@media screen and (max-width: 767px) {
  .inner-footer {
    padding-top: 35px;
  }
}

